package config

import "{{.ProjectName}}/env"

// AppConfig holds the application configuration
type AppConfig struct {
	Mode string
	Port int
}

// LoadConfig reads from the `env` package and creates an AppConfig struct
func LoadAppConfig() *AppConfig {
	// Load environment variables
	envVars := env.LoadEnv()

	// Create the configuration from environment variables
	return &AppConfig{
		Mode: envVars.Mode,
		Port: envVars.Port,
	}
}
