package config

import (
    "{{.ProjectName}}/start"
)

// Config holds the application configuration
type Config struct {
    Mode string
    Port int
}

// LoadConfig reads the environment variables and returns a Config struct
func LoadConfig() (*Config, error) {
    env, err := start.LoadEnv()
    if err != nil {
        return nil, err
    }

    return &Config{
        Mode: env.Mode,
        Port: env.Port,
    }, nil
}