package start

import (
	"{{.ProjectName}}/config"
	"{{.ProjectName}}/middleware"

	"github.com/gin-contrib/cors"
	"github.com/gin-gonic/gin"
)

// InitializeKernel sets up the Gin engine
func InitializeKernel() *gin.Engine {
	// Load application and CORS configurations
	appConfig := config.LoadAppConfig()
	corsConfig := config.LoadCORSConfig()

	// Set Gin mode
	if appConfig.Mode == "release" {
		gin.SetMode(gin.ReleaseMode)
	} else {
		gin.SetMode(gin.DebugMode)
	}

	// Initialize the Gin engine
	engine := gin.Default()

	// Setup CORS middleware
	engine.Use(cors.New(cors.Config{
		AllowOrigins:     corsConfig.AllowOrigins,
		AllowMethods:     corsConfig.AllowMethods,
		AllowHeaders:     corsConfig.AllowHeaders,
		ExposeHeaders:    corsConfig.ExposeHeaders,
		AllowCredentials: corsConfig.AllowCredentials,
	}))

	// Register routes
	RegisterRoutes(engine)

	// Register global middleware
	engine.Use(middleware.Logger())

	// Register named middleware

	return engine
}
