package start

import (
	"github.com/gin-gonic/gin"
	"{{.ProjectName}}/app/controllers"
)

// RegisterRoutes sets up the application's routes
func RegisterRoutes(engine *gin.Engine) {
	// Define routes
	rootRoutes := engine.Group("/")
	{
		rootRoutes.GET("/", controllers.Handle)
		// Add more routes here
	}
}
