package start

import (
	"{{.ProjectName}}/app/controllers"
	"{{.ProjectName}}/core/context"

	"github.com/gin-gonic/gin"
)

// RegisterRoutes sets up the application's routes
func RegisterRoutes(engine *gin.Engine) {
	// Initialize controllers
	healthController := controllers.HealthController{}

	// Health check endpoint
	engine.GET("/", func(c *gin.Context) {
		healthController.Handle(context.WrapGinContext(c))
	})
}
