package config

import "{{.ProjectName}}/start"

// AppConfig holds the application configuration
type AppConfig struct {
	Mode string
	Port int
}

func LoadAppConfig() *AppConfig {
	// Load environment variables
	envVars := start.LoadEnv()

	// Create the configuration from environment variables
	return &AppConfig{
		Mode: envVars.Mode,
		Port: envVars.Port,
	}
}
