package main

import (
    "log"

    "{{.ProjectName}}/start"
)

func main() {
    // Initialize the Gin engine
    engine := start.InitializeKernel()

    // Start the server
    if err := engine.Run(); err != nil {
        log.Fatalf("Error starting server: %v", err)
    }
}
