package middleware

import (
	"log"
	"time"

	"{{.ProjectName}}/internal/context"
)

// LoggerMiddleware logs details of each request
type LoggerMiddleware struct{}

// Handle logs the request processing time
func (lm *LoggerMiddleware) Handle(next func(ctx context.Context)) func(ctx context.Context) {
	return func(ctx context.Context) {
		start := time.Now()
		next(ctx)
		log.Printf("Request processed in %v", time.Since(start))
	}
}
