package middleware

import (
	"log"
	"time"

	"github.com/gin-gonic/gin"
)

// Logger logs details of each request
func Logger() gin.HandlerFunc {
	return func(c *gin.Context) {
		start := time.Now()

		// Process the next handler in the middleware chain
		c.Next()

		// Calculate request processing time
		duration := time.Since(start)

		// Log request details
		log.Printf("[%s] %s %s %d %s",
			c.Request.Method,   // HTTP method (GET, POST, etc.)
			c.Request.Host,     // Request host
			c.Request.URL.Path, // Request path
			c.Writer.Status(),  // Response status code
			duration,           // Request processing time
		)
	}
}
